 .mainContainer {
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    height: auto;
    padding-bottom: 1.5rem;
    overflow: hidden;
} 
.image {
    object-position: center;
    object-fit: cover;
    border-radius: .375em 375empx 0 0;
}
.imageContainer {
    width: 100%;
    height: 50%;
    position: relative;
}
.imageContainer:hover { 
    opacity: 50%;
    filter: brightness(50%);
}
.imageContainer:hover .button50 {
    display: block;
    opacity: 100%;
    filter: brightness(100%);
}
.projInfo {
    width: 400px;
}
.title {
    font-weight: bolder;
}
.projInfo p {
    margin-left: 1rem;
}

/* .projInfo span {
    margin-right: 1rem;
} */
.techs {
    display: flex;
    justify-content: space-around;
}
/* <!-- HTML !-->
<button class="button-60" role="button">Button 60</button> */

/* CSS */

.button50 { 
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button60:hover {
  border-color: #b5b5b5;
}

.button60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}
 