 .mainContainer {
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    height: auto;
    padding-bottom: 1.5rem;
    overflow: hidden;
    margin: 20px; 
} 
.image {
    object-position: center;
    object-fit: cover;
    border-radius: .375em 375empx 0 0;
}
.imageContainer {
    opacity: 1;
    width: 100%;
    height: 50%;
    position: relative;
    transition: opacity 0.3s ease; 
}
.imageContainer button {
    display: hidden;
}
.imageContainer:hover button {
    display: block;
    opacity: 1 !important;
}
.imageContainer:hover .image {
  filter: blur(2px);
}     
    


.projInfo {
    width: 400px;
}

.title {
  text-align: center;
    font-weight: bolder;
    font-size: x-large;
}
.projInfo p {
    margin-left: 1rem;
}

/* .projInfo span {
    margin-right: 1rem;
} */

.techs {
    display: flex;
    justify-content: space-around;
}
/* <!-- HTML !-->
<button class="button-60" role="button">Button 60</button> */

/* CSS */

.button50 { 
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: .375em;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
}
.button50:active {
    border-color: #4a4a4a;
    outline: 0;
  }
  
  .button50:focus {
    border-color: #485fc7;
    outline: 0;
  }
  
  .button50:hover {
    border-color: #b5b5b5;
  }
  
   
.button60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button60:hover {
  border-color: #b5b5b5;
}

.button60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

.appContainer {
  display: flex;
  /* flex-direction: row;
  align-items: center;
  justify-content: space-around; */
   /* Add your desired space value here */
} 
.gifInfo {
  /* width: 6;00px */
  flex: 0 0 60%;
  padding: 2%;
}
.gif2 {
  flex: 0 0 40%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.gif1 {
  flex: 0 0 40%;  
}
.img {
  width: 100%;
  height: 100%;
}
.desc {
  padding-bottom: 20px;
}
.corousel {
  width: 400px;
}
.subtitle {
  text-align: center;
}



@media screen and (max-width: 768px) {
  .mainContainer {
    
  }
}