.footerBasic {
    padding:30px 0;
    background-color:#ffffff;
    color:#4b4c4d;
    text-align: center;;
    margin: 0 auto;
  }
  .copyright {
    margin-top:5px;
    text-align:center;
    font-size: 1rem;
    color:#aaa;
    margin-bottom:0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    width: 998px;
    flex-direction: column;
  }
  .social {
    display: flex;
    justify-content: space-around;
  }
  .icon {
    font-size:xx-large;
    color: black;
  }
  .icon:hover {
    color: blue;
  }
  @media screen and (max-width: 768px) {
     .footer {
      width: 100%;
     }
  }