.nav {
    display: flex;
    width: 998px;
    justify-content: space-around;
}
.header {
    background-color: white;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist {
    display: flex;
    column-gap: 2rem;
    margin: 0;
}
.navlist li a {
    color: black
}
.navlist li a:hover {
    color: blue;
    font-weight: bolder;
}
.navlist li a:active {
    color: blue;
    font-weight: bolder;
}

.logo {
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }
    .nav {
        width: 100%;
    }
}
