.display {
    width: 996px;
    height: calc(100vh);
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    height: calc(100vh + 4.5rem);

    }
.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}   
.mainIntro {
    width: 50%;
}
.image {
    border-radius: 100px;
    border: 4px solid gray;
}
.sideIntro {
    text-align: left;
}
.social {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.icon {
    padding-right: 4px;
}
.techStack {
    width: 100%;   

}
.react {
    object-fit: cover;
    height: 5em;
    width: 5em;
}
.react::after {
    height: 7em;
    width: 7em;
}