.title {
    /* font-size: var(--big-font-size); */
    border-bottom: 3px solid #dbdbdb;
}

.masterContainer {
    display: flex; 
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.cardContainer {
    display: flex;
    width: 998px;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
}
.lastCard {
    margin-top: 4rem;
}
